#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .pag1 {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.pag1:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.pag1.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
